@import "compass";

$sc2: #5ebce6;
$lol: #e76658;

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased
}

a { text-decoration: none; }

.hide-text {
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
}


body > header {
    color: #333;
    background: #fff;
    font-size: 13px;

    &:before {
        content: '';

        position: absolute;
        width: 100%; height: 6px;
    }
    h1, .byline { @extend .hide-text; }
}

.wrapper {
    margin: 0 auto;
    width: 990px;
}

.content > header {
    border-top: 1px solid rgba(#fff, 0.25);
    color: #fff;
}

.game {
    @include box-shadow(0 2px 0 rgba(#fff, 0.5), 0 4px 0 rgba(#fff, 0.25));
    background: #fff;

    position: relative;

    &:before {
        content: '';

        position: absolute;
        width: 100%; height: 6px;
        z-index: 100;
    }
    h1 {
        @extend .hide-text;
        background-color: #ccc;

        position: relative;
        height: 276px;
        margin: 0;

        &:after {
            background: rgba(#000, 0.8);
            content: '';

            position: absolute;
            left: 0; bottom: 0;
            width: 100%; height: 90px;
        }
    }
}
.actions {
    @include no-bullets;
    margin: 0; padding: 0;

    li {
        border-bottom: 1px solid rgba(#000, 0.1);
        font-size: 14px;
        padding: 16px;

        &:last-child { border: none; }
        a { color: rgba(#000, 0.5); }
    }
}


#sc2 {
    h1 {
        background-image: url('../images/landing-kerrigan.png');
        background-position: center center;
        background-repeat: no-repeat;
        background-size: 125%;
    }
}
#lol {
    h1 {
        background-image: url('../images/landing-lol.png');
        background-position: 50% 100%;
        background-repeat: no-repeat;
        background-size: 100%;
    }
}


// Colors.
body { background: #111; }
body > header:before { background: #ffa71a; }

#sc2 {
    a:hover { color: $sc2; }
    &:before { background-color: $sc2; }
}
#lol {
    a:hover { color: $lol; }
    &:before { background-color: $lol; }
}
