@import "compass";

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: #111;
    color: #fff;
}


a {
    @include link-colors(#fff);
    text-decoration: none;
}


.wrapper {
    margin: 0 auto;
    width: 990px;
}

ul, li {
    @include no-bullets;
    margin: 0;
    padding: 0;
}

.game-switcher {
    display: none;
}

.game-navigation {
    li {
        font-size: 13px;
        font-weight: bold;
        text-align: right;
        text-transform: uppercase;
    }
}

body > header {
    color: #333;
    background: #fff;
    font-size: 13px;
}

nav > ul {
}

body > header h1 {
    span { font-weight: normal; }
}
