@import "compass";

body {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.wrapper {
    margin: 0 auto;
    width: 990px;
}

ul, li {
    @include no-bullets;
    margin: 0;
    padding: 0;
}

.game-switcher {
    display: none;
}

.game-navigation {
    li { text-align: right; }
}

body > header {
    background: #fff;
}

nav > ul {
}

body > header h1 {
    font-size: 14px;

    span { font-weight: normal; }
}
