<footer class="sx-all">
    <div class="wrapper">
        <div class="sponsors sx2-sx5">
            <ul>
                <li class="day9tv"><a href="http://day9.tv/"><img src="/images/logo-day9tv-yellow.png"></a></li>
                <li class="redbull"><a href="http://redbullusa.com/"><img src="/images/logo-redbullgaming.png"></a></li>
            </ul>
            <p>The <strong>After Hours Gaming League</strong> is proudly brought to you by <a href="http://day9.tv/">Day[9]TV</a> and <a href="http://redbullusa.com/">Red Bull Gaming</a>.</p>
        </div>
        <nav class="sx2-sx5">
            <ul>
                <li><a href="http://afterhoursgaming.tv/about/">About</a></li>
                <li><a href="http://afterhoursgaming.tv/press/">Press</a></li>
                <li><a href="http://afterhoursgaming.tv/faq/">FAQ</a></li>
                <li><a href="http://afterhoursgaming.tv/archive/">Past Seasons</a></li>
                <li><a href="http://afterhoursgaming.tv/d/">Disclaimer</a></li>
                <li><a href="http://afterhoursgaming.tv/messages/compose/ahgltv/">Contact</a></li>
            </ul>
        </nav>
        <div class="copyright sx2-sx5">
            <p>
                &copy;2012 <a href="http://jink.tv">Jink.tv</a>. All rights reserved.<br>
                Site powered by <a href="http://ntucker.me/">Nathaniel Tucker</a>. Designed by <a href="http://twitter.com/bryanveloso/">Bryan Veloso</a>.
            </p>
        </div>
    </div>
</footer>
