<header class="header sx-all">
    <div class="wrapper">
    {% if page.type == "home" %}
        <h1 class="sx2-sx3">After Hours Gaming League</h1>
        <div class="byline sx4-sx5">Presented by Day[9]TV</div>
    {% else %}
        <h1 class="sx1-sx3">The <strong>After Hours Gaming League</strong> Season 3 <span class="byline">Presented by Day[9]TV</span></h1>
        <nav class="user-navigation">
            <ul>
                <li class="sx5"><a href="">Sign Up</a></li>
                <li class="sx6"><a href="">Log In</a></li>
            </ul>
        </nav>
    {% endif %}
    </div>
</header>
