---
layout: default
---

<div class="wrapper">
  <div class="logo sx1">Day9</div>
  <nav class="sx2-sx6">
    <ul class="game-switcher sx-hide">
      <li class="active"><a href="">StarCraft II</a></li>
      <li><a href="">League of Legends</a></li>
    </ul>
    <ul class="game-navigation">
      <li class="e5"><a href="">Teams</a></li>
      <li class="e6"><a href="">Schedule</a></li>
      <li class="e7"><a href="">Videos</a></li>
      <li class="e8"><a href="">Standings</a></li>
    </ul>
  </nav>
</div>

<section>
</section>
