---
layout: default
---

<div class="wrapper">
  <nav class="">
    <div class="current-game">
      <span class="">StarCraft II</span>
      <ul class="game-switcher">
        <li><a href="">StarCraft II</a></li>
        <li><a href="">League of Legends</a></li>
      </ul>
    </div>
    <ul class="game-navigation">
      <li class=""><a href="index.html">Home</a></li>
      <li class=""><a href="teams.html">Teams</a></li>
      <li class=""><a href="schedule.html">Schedule</a></li>
      <li class=""><a href="videos.html">Videos</a></li>
      <li class=""><a href="standings.html">Standings</a></li>
    </ul>
  </nav>
</div>

<section>
  {{ content }}
</section>
