---
layout: default
---

<div class="wrapper">
  <nav class="">
    <div class="current-game e1-e3">
      <span class="e1-e2">StarCraft II</span>
      <ul class="game-switcher">
        <li><a href="">StarCraft II</a></li>
        <li><a href="">League of Legends</a></li>
      </ul>
    </div>
    <ul class="game-navigation e4-e8">
      <li class="e4"><a href="index.html">Home</a></li>
      <li class="e5"><a href="teams.html">Teams</a></li>
      <li class="e6"><a href="schedule.html">Schedule</a></li>
      <li class="e7"><a href="videos.html">Videos</a></li>
      <li class="e8"><a href="standings.html">Standings</a></li>
    </ul>
  </nav>
</div>

<section class="e-all">
  {{ content }}
</section>
